@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-figure: #7030a0;
  --color-bg: #fcf9ee;
  --color-text: #000000;
  --default-font-family: "Lexend", sans-serif;
}

html.darkmode {
  --color-bg: #030611;
  --color-text: #ffffff;
}

@custom-variant darkmode (&:where(html.darkmode, html.darkmode *));

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.pentagon {
  -webkit-clip-path: polygon(100% 0, 100% 92%, 92% 99%, 0 99%, 0 0);
  clip-path: polygon(100% 0, 100% 92%, 92% 99%, 0 99%, 0 0);
}

.pentagon_item {
  -webkit-clip-path: polygon(99% 2%, 99% 75%, 96% 99%, 0 99%, 0 0);
  clip-path: polygon(99% 2%, 99% 75%, 96% 99%, 0 99%, 0 0);
}

.hexagon_menu {
  -webkit-clip-path: polygon(72% 15%, 99% 0, 99% 80%, 65% 99%, 0 99%, 0 15%);
  clip-path: polygon(72% 15%, 99% 0, 99% 80%, 65% 99%, 0 99%, 0 15%);
}

.pentagon_menu {
  -webkit-clip-path: polygon(99% 0, 99% 93%, 65% 99%, 0 99%, 0 0);
  clip-path: polygon(99% 0, 99% 93%, 65% 99%, 0 99%, 0 0);
}

.hexagon {
  -webkit-clip-path: polygon(90% 0, 99% 10%, 99% 99%, 10% 99%, 0 90%, 0 0);
  clip-path: polygon(90% 0, 99% 10%, 99% 99%, 10% 99%, 0 90%, 0 0);
}

@media (max-width: 640px) {
  .hexagon_menu {
    -webkit-clip-path: polygon(17% 0, 99% 0, 99% 80%, 80% 99%, 0 99%, 17% 80%);
    clip-path: polygon(17% 0, 99% 0, 99% 80%, 80% 99%, 0 99%, 17% 80%);
  }

  .pentagon_menu {
    -webkit-clip-path: polygon(99% 0, 99% 80%, 90% 99%, 0 99%, 0 0);
    clip-path: polygon(99% 0, 99% 80%, 90% 99%, 0 99%, 0 0);
  }
}
