<footer>
    <div class="w-screen bg-indigo-700 inset-be-0 columns-2 absolute">
        <div><p>Portafolio de Puxka Acosta Domínguez</p></div>
        <div class="flex justify-end"><a href="#" class="inline-flex"><p>X</p><p>Copyright 2024</p></a></div>
    </div>
</footer>
