---
import type { NavigationTypeString } from "astro:transitions/client";

interface NavItem {
    name: string;
    href: string;
}
const navItems: NavItem[] = [
    { name: "Welcome", href: "/" },
    { name: "Desktop systems", href: "/desk-sys" },
    { name: "Evaluation & redesign works", href: "/eva-and-redes-works" },
    { name: "Webpage prototypes", href: "/web-proto" },
];
---

<div>
    <div class="bg-indigo-800 pentagon_menu w-10 p-2 absolute">
        <div class="bg-indigo-800 h-13 flex">
            <a class="flex" id="menu-btn" href="#">X</a>
            <!-- Change for an the image as an element witch class cursos-pointer -->
        </div>
        <div class="bg-white hexagon_menu">
            <a class="flex" href="#">X</a>
        </div>
        <div class="bg-white hexagon_menu">
            <a class="flex" href="#">X</a>
        </div>
    </div>
    <div id="menu-modal" class="bg-white-600/50 fixed inset-0 hidden">
        <div id="menu" class="w-[28rem] bg-indigo-800 pentagon p-2 absolute">
            <div
                class="bg-white pentagon left-0 h-100 flex justify-center pt-10"
            >
                <nav class="inline-flex">
                    <ul class="flex flex-col gap-6">
                        {
                            navItems.map((item: NavItem) => (
                                <li>
                                    <a
                                        class="hover:bg-indigo-800 hover:text-white pentagon_item text-2xl text-center flex items-center p-2 w-[24.3rem]"
                                        href={item.href}
                                    >
                                        {item.name}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script>
    const menu_btn = document.getElementById("menu-btn");
    const menu_modal = document.getElementById("menu-modal");
    const menu = document.getElementById("menu");

    menu?.addEventListener("mouseleave", () => {
        menu_modal?.classList.add("hidden");
    });

    menu_btn?.addEventListener("click", () => {
        menu_modal?.classList.remove("hidden");
    });
</script>
